<!DOCTYPE html>
<html xml:lang="cs" lang="cs" prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Petr Šebela">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta id="contentLanguage" http-equiv="Content-Language" content="cs-CZ" />
        <meta name="msapplication-TileColor" content="#FFFFFF" /><meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta property="og:site_name" content="Chakra.cz">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta property="og:type" content="product">
        <meta name="copyright" content="Petr Šebela" />
        <meta name="robots" content="{ifset #robots}{include robots}{else}index,follow{/ifset}" />

        <title>{ifset #title}{include title|striptags} | Chakra Original | Feel the Self-love{else}Chakra Original | Feel the Self-love{/ifset}</title>

        <meta name="description" content="{ifset #description}{include description|striptags}{else}Chakra Original | Feel the Self-love{/ifset}"/>
        <meta property="og:title" content="{ifset #title}{include title|striptags}  | Chakra Original | Feel the Self-love{else}Chakra Original | Feel the Self-love{/ifset}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://www.chakra.cz/"/>
        <meta property="og:image" content="https://www.chakra.cz/image/photo/facebookpic.jpg!!!!!!!!!"/>
        <meta property="og:site_name" content="Chakra Original"/>
        <meta property="og:description" content="{ifset #description}{include description|striptags}{else}Chakra Original | Objevte novou dimenzi intimní masáže se 100% přírodními ručně vyráběnými pomůckami Chakra Original™ z minerálů a polodrahokamů.{/ifset}"/>


        <!-- Custom fonts for this template -->
        <link href="{$basePath}/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{$basePath}/css/simple-line-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <link rel="stylesheet" href="{$basePath}/device-mockups/device-mockups.min.css">

        <link href="{$basePath}/css/new-age.css" rel="stylesheet">
        <link href="{$basePath}/css/flag-icon.min.css" rel="stylesheet">

        {* BOOTSTRAP *}
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{$basePath}/css/bootstrap-grid.min.css" rel="stylesheet">
        <link href="{$basePath}/css/bootstrap-reboot.min.css" rel="stylesheet">

        {* /BOOTSTRAP *}

        <link rel="icon" type="image/png" href="{$basePath}/icon.ico">
        <link rel="shortcut icon" href="{$basePath}/icon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{$basePath}/css/purejscarousel.css">
        <link rel="stylesheet" href="{$basePath}/css/custom.css">
        <script src="{$basePath}/js/purejscarousel.js"></script>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId            : '1781917345286472',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v5.0'
                });
            };
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153597331-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-153597331-1');
        </script>

        <!-- Global site tag (gtag.js) - Google Ads: 690473910 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-690473910"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'AW-690473910');
        </script>

        <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
                    { if(f.fbq)return;n=f.fbq=function(){ n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments) };
                    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                    n.queue=[];t=b.createElement(e);t.async=!0;
                    t.src=v;s=b.getElementsByTagName(e)[0];
                    s.parentNode.insertBefore(t,s) }(window,document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '247160516179864');
                fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=247160516179864&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->

        <script type="text/javascript" src="{$basePath}/js/seznamMap.js"></script> {* seznam mapa *}
        <script>Loader.load()</script>

        {ifset #headJs}
            {include #headJs}
        {/ifset}
    </head>

    <body id="page-top">

        {include 'Layout/Header/header.latte'}

        {include 'Layout/Modal/modal.latte'}

        {foreach $flashes as $flash}
            <div class="alert alert-success" role="alert">
                {$flash->message}
            </div>
        {/foreach}

        {include #content}

        <footer>

            {include 'Layout/Footer/footer.latte'}

        </footer>

    </body>

</html>


<!-- Bootstrap core JavaScript -->
<script src="{$basePath}/js/jquery/jquery.min.js"></script>
<script src="{$basePath}/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{$basePath}/js/jquery.easing.min.js"></script>


<script src="{$basePath}/js/new-age.js"></script>


<script type="text/javascript" src="{$basePath}/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/bootstrap.min.js"></script>