{block content}
<a n:href="Workshop:default" class="btn btn-primary" style="margin-top: 15px"><i class="fas fa-chevron-left"></i> Zpět do správy workshopů</a>
<h2 style="margin-top: 30px">{if $workshop}Upravit workshop: <b>{$workshop->title}</b>{else}Vytvořit workshop{/if}</h2>
<hr>
<div class="col-sm-12" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-12">
            {control workshopForm}
        </div>
    </div>
</div>