<form  n:name="addProductForm" id="main-contact-form" name="contact-form" method="post">
        <input n:name="quantity" class="form-control"  value="1" min="1" style="height:44px;font-size:25px;color:black;width: 15%;float: left;border-radius: 3px 0 0 3px">
        <input n:name="submit" type="submit" class="product-detail-add-to-cart" value="Koupit" style="float: left">
</form>